<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Plataforma e-Firma</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="shortcut icon" href="./img/favicon.ico" />
<link rel="stylesheet" href="./css/portal-tipo.css" />
<link rel="stylesheet" href="./css/style.css" />
<link rel="stylesheet" href="./css/formulario-tipo.css" />

<script type="text/javascript">
	function submit() {
		document.form.submit();
	}
	window.onload = submit;
</script>

</head>
<body>

	<a class="SkipLink" href="#contenido">Ir al contenido</a>
	<a class="SkipLink" href="#menu">Ir al menú de navegación</a>


	<!-- header -->
	<header class="Container">
		<div class="Header">
			<div class="u-left">
				<img src="./img/uruguay-gub-uy.png" class="u-left" /> <span
					class="u-left u-ml1">Plataforma de e-firma</span>
			</div>
			<img class="u-right u-ml1" src="./img/logo-uruguay-digital.png" /> <img
				class="u-right" src="./img/logo-presidencia.png" />
		</div>
	</header>



	<main class="u-main" id="contenido">
	<div class="Container">
		<div class="Grid">
			<div class="Grid-item">
				<div class="dialog-box dialog-success">
					<div class="dialog-icon">
						<span class="icn icn-circle-success-lg"></span>
					</div>
					<div class="dialog-data">
						<span class="dialog-title">Documento firmado exitosamente</span>
						<p>El documento firmado está disponible para su descarga:</p>
						<!-- <a href="#">Volver a descargar</a> -->
						<form action="download" method="get" name="form">
							<input type="submit" value="Volver a descargar" />
						</form>
					</div>
				</div>
				<div class="Box">
					<div class="Box-header">Selección de documento</div>
					<div class="Box-body">
						<form action="upload" method="POST" enctype="multipart/form-data">
							<ul class="form-group-list">
								<li><label>Documento a firmar:</label> <input type="file"
									accept="application/pdf" name="file" /></li>
								<li><label></label>
									<button class="btn-lg btn-primario" type="submit">Ir a
										firmar este documento</button></li>
							</ul>
						</form>
					</div>
				</div>
				<div id="footer" class="row">
					<!-- <a href="" class="u-left">Contacto</a>-->
					<img class="u-right" src="./img/logo-agesic.png" />
				</div>
			</div>
		</div>
	</div>
	</main>
</body>
</html>